# Netsy <https://netsy.dev>
# Copyright The Netsy Authors
# SPDX-License-Identifier: Apache-2.0

/certs
/temp
/default.etcd
*.netsy
.overmind.sock

# etcd
default.etcd/

# Build directories
bin/
dist/

# Temp directories
temp
temp/
tmp
tmp/

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# OS specific
.DS_Store
Thumbs.db
.vscode/
.idea/
.env
!/.env
